In [1]:
import pandas as pd

In [12]:
news_ids = pd.read_csv(r'..\data\news_outlets-accounts.csv')
news_ids.shape

(9636, 3)

In [13]:
news_ids.head()

            Token         Uid                                Link
0   LouisvilleMag    11263532   https://twitter.com/LouisvilleMag
1  WindyCityTimes    30284449  https://twitter.com/WindyCityTimes
2      BlkMtnNews  3053471913      https://twitter.com/BlkMtnNews
3       NewYorker    14677919       https://twitter.com/NewYorker
4        KyKernel    41463945        https://twitter.com/KyKernel

In [4]:
input_path = r'..\data\preprocess_data.csv'
preprocess_data = (
            pd.read_csv(input_path, sep = "\t")
            .drop_duplicates()
        )
preprocess_data.shape

(7125059, 21)

In [5]:
preprocess_data.head()

,Unnamed: 0,Date,Page Type,Account Type,Author,Full Name,Full Text,Gender,Hashtags,Impact,...,Thread Entry Type,Thread Author,Twitter Followers,Twitter Following,Twitter Tweets,Twitter Reply Count,Twitter Verified,Twitter Retweets,Reach (new),Region
0,0,2017-12-06 23:59:59,twitter,NaN,William82861606,William82861606 (William),funder conyers resigned franken resigning tomo...,male,"#trumpsexprobe, #metoo",0.0,...,share,funder,282.0,415.0,17340.0,0.0,False,0.0,0.0,Arizona
1,1,2017-12-06 23:59:58,twitter,NaN,Artis_Elemental,Artis_Elemental (ART...Is),alyssa_milano list sexual misconduct allegatio...,male,#metoo,24.5,...,share,Alyssa_Milano,5578.0,5769.0,363570.0,0.0,False,0.0,3311.0,NaN
2,2,2017-12-06 23:59:57,twitter,individual,lanah03,lanah03 (Laura Hopkins),deepinthehills sobbing silent longer,female,#metoo,5.4,...,share,DeepInTheHills,2713.0,4978.0,46914.0,0.0,False,0.0,1734.0,New York
3,3,2017-12-06 23:59:55,twitter,individual,lidskawasaki,lidskawasaki (dearlordbabyjesus),alyssa_milano time asking franken resign senat...,unknown,"#timepersonoftheyear, #metoo",0.0,...,share,Alyssa_Milano,330.0,273.0,10901.0,0.0,False,0.0,0.0,NaN
4,4,2017-12-06 23:59:54,twitter,NaN,IAmMeliLopez,IAmMeliLopez (Melissa Lopez),nycchr public hearing begun stories deserve he...,female,"#sexualharassment, #metoo",0.0,...,share,NYCCHR,13.0,96.0,11594.0,0.0,False,0.0,0.0,New York

In [6]:
preprocess_data.columns

Index(['Unnamed: 0', 'Date', 'Page Type', 'Account Type', 'Author',
       'Full Name', 'Full Text', 'Gender', 'Hashtags', 'Impact', 'Impressions',
       'Thread Entry Type', 'Thread Author', 'Twitter Followers',
       'Twitter Following', 'Twitter Tweets', 'Twitter Reply Count',
       'Twitter Verified', 'Twitter Retweets', 'Reach (new)', 'Region'],
      dtype='object')

In [14]:
news_id_list = news_ids['Token'].tolist()
preprocess_data['news_authors'] = preprocess_data['Author'].apply(lambda x: x in news_id_list)

preprocess_data[['Author','news_authors']].head()

            Author  news_authors
0  William82861606         False
1  Artis_Elemental         False
2          lanah03         False
3     lidskawasaki         False
4     IAmMeliLopez         False

In [15]:
preprocess_data[preprocess_data['news_authors']][['Author','news_authors']].head()

              Author  news_authors
1351  NBCNightlyNews          True
2803     cgtnamerica          True
3921              qz          True
4064        KUNMnews          True
5846    ReutersWorld          True